input,
textarea {
    background: transparent !important;
    border: 1px black !important;
    border-style: dashed !important;
}
select{
    border: 1px black !important;
    border-style: dashed !important;
}
input {
    font-size: inherit;
    text-align: inherit;
    width: auto;
}
.title {
    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;
    color: #26272b;
    width: 100%;
}