$font-stack: Arial, sans-serif;
$fancy-font-stack: Poiret One, cursive;
/********* Default Color variables *************/
$black: #26272b;
$gold: tan;
$gray: #646464;
$light-gold: wheat;
$light-gray: #b0b0b0;